
.login-container {
  max-width: 100%;
  margin: 0 auto;
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.login-section{
  width: 500px;
  background-color: #e6cbf38c;
  padding: 30px;
  border-radius: 15px;
}
.login-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  border-radius: 4px;
  margin-bottom: 15px;
}

.btn-primary {
  width: 100%;
  border-radius: 4px;
  background-color: #8177dc;
  color: white;
  border: #cc0000;
  padding: 10px;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #403795; 
  color: #ffcccb; 
  transform: scale(1.05); 
}
